
.hero{
    background-image: linear-gradient(45deg, rgba(10, 9, 9, 0.7),
    rgba(3, 3, 3, 0.725)),
    url('assets/Power_5F00_blog_5F00_021418-3451751998.jpg');
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 150px;

  } 

  .power{
    background-color: darkred;
  }